# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/.symlinks/
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/build/
/macos/Pods/
/macos/.symlinks/
/macos/Flutter/Flutter.framework/
/macos/Flutter/Flutter.podspec
/macos/Flutter/ephemeral/
/macos/build/
/linux/flutter/ephemeral/
/linux/build/
/windows/flutter/ephemeral/
/windows/build/
/web/.dart_tool/
/web/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Emulators
**/*.keystore
**/google-services.json
**/firebase-service.json

# JetBrains related
.idea/*
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
